#about {
  //h2 {
  //  font-weight: 300;
  //  color: #212529;
  //}

  .photo {
    width: 100%;
  }


  .anim-fast-appear {
    opacity: 0.01;
  }

  .anim-fast-appear.anim-fast-appear-active{
    opacity: 2;
    transition: opacity 0.5s ease-in;
  }
}
